@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,700;1,100;1,400&family=Nunito:wght@200;300&display=swap');

:root {
  --yellow: #E8C547;
  --blue: #5C80BC;
  --dark-grey: #30323D;
  --light-grey: #4D5061;
  --sage: #cdd1cd;
  --title: 'Bitter', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0px;
  overflow: hidden;
  background: var(--yellow);
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}