.user-profile {
  display: flex;
  flex-direction: row;
}

.user-posts {
  display: flex;
  flex-direction: column-reverse;
  justify-items: center;
  margin: 0 auto;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  height: 11%;
  top: 0;
  left: 0;
  margin-top: 100px;
  margin-left: 2%;
  border-radius: 5%;
  background-color: var(--blue);
}

.user-img {
  margin-top: 5%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 5px solid;
  border-color: var(--light-grey);
}

.user-name {
  font-size: 32px;
}

.profile-info {
  /* display: flex;
  flex-direction: row; */
  font-size: 24px;
  text-align: left;
  /* margin-left: 10%; */
  /* align-self: flex-start;
  flex-wrap: wrap; */
}

#user-bio {
  padding-left: 2%;
}

.post-card {
  background: white;
  border: 20px;
}

.post-card img {
  height: 466px;
  width: 350px;
  z-index: 10;
}

.friends-list {
  width: 100%;
  background-color: var(--sage);
}
