.user-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.user-posts {
  display: flex;
  flex-direction: column-reverse;
  justify-items: center;
  margin: 25px auto 0;

}

.user-posts #myDoods {
  text-align: center;
  color: var(--blue);
  font-size: 40px;
}

.profile-container {
  padding: 25px 2% 0px 5%;
  text-decoration: none;
  font-size: larger;
}

.profile-container ul {
 list-style-type: none;
}

.user-name {
  font-style: oblique;
}

.friends-list {
  padding: 15px;
  background-color: rgba(147, 147, 148, 0.463);
  border-radius: 15px;
}

.friends-list ul li {
  font-size: 16px;
}

.friends-list span {
  font-size: 20px;
  font-weight: bolder;
  color: var(--blue);
}

.user-img {
  margin-top: 5%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 5px solid;
  border-color: var(--light-grey);
}

.user-name {
  font-size: 32px;
}

#user-bio {
  padding-left: 2%;
}

.post-card {
  background: white;
  border: 20px;
}

.post-card img {
  height: 466px;
  width: 350px;
  z-index: 10;
}

@media only screen and (max-width: 611px) {
  .user-img {
    width: 150px;
    height: 150px;
  }
}