div#wotd-wrapper {
  display: flex;
  padding: 10px 5%;
  justify-content: flex-end;
}

#wotd-wrapper .lil-wotd-container {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  padding: 7px 34px;
  border-radius: 15px;
}

div#wotd-wrapper #wotd {
  padding: 5px;
  font-size: 20px;
  color: var(--dark-grey);
}

.timeline {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  width: 75%;
  margin: auto;
  margin-top: 40px;
}

.post-card {
  height: 520px;
  width: 354px;
  margin: 10px auto;
  border-radius: 35px;
  border: 2px solid var(--dark-grey);
  position: relative;
  background-color: white;
}

.user-display {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  padding: 5px;
  color: var(--sage);
}

.tl-dood {
  margin-bottom: 0;
  border-radius: 0px 0px 35px 35px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 500px) {
  .timeline {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}
