#draw {
  display: flex;
  flex-direction: column;
  align-content: center;
}

h2 {
  margin: auto;
}

.canvascontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background: white;
  border-radius: 35px 35px 0 0;
  border: 3px solid var(--dark-grey);
  border-bottom: 0;
  cursor: pointer;
}

.drawButtons {
  display: flex;
  justify-content: center;
  width: 350px;
  border: 3px solid var(--dark-grey);
  border-top: 0;
  border-radius: 0 0 35px 35px;
  background: var(--sage);
  padding: 10px 0;
}

.drawButtons .colorButton {
  height: 25px;
  width: 47px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid var(--sage);
  align-self: center;
  margin: 3px;
  /* padding: 10px 0px; */
}

#white {
  background: white;
}

#black {
  background: #30323d;
}

#brown {
  background: #642609;
}

#red {
  background: #c31418;
}

#orange {
  background: #f76a0e;
}

#yellow {
  background: #eacd1e;
}

#green {
  background: #66ab09;
}

#blue {
  background: #137de0;
}

#purple {
  background: #8809b5;
}

#revise button {
  background: var(--blue);
  height: 25px;
  width: 48px;
  margin: 3px;
  border-radius: 20px;
  border: 2px solid var(--sage);
  cursor: pointer;
}

#picker_div {
  background: var(--yellow);
  margin: 4px 3px;
  height: 25px;
  width: 157px;
  padding: 0;
  border-radius: 20px;
  border: 2px solid var(--sage);
  cursor: pointer;
}

#picker {
  opacity: 0;
  appearance: auto;
  align-self: center;
  height: 25px;
  width: 155px;
  padding: 0;
  border-radius: 20px;

  cursor: pointer;
}

#pen-range {
  width: 145px;
  margin: 5px 10px;
  cursor: pointer;
}

@media only screen and (max-height: 700px) {
  .drawButtons .colorButton,
  #revise button,
  #picker_div,
  #picker {
    height: 20px;
  }
}
